.root {
  border: 1px solid black;
}

.table {
  th,
  td {
    border-color: black;
  }
}

.header {
  color: black;
  th {
    border-bottom: 1px solid black;
  }
}

.footer {
  color: black;

  th {
    border-top: 1px solid black;
  }
}

.pagination {
  background: transparent;
  color: black;
  border-top: 1px dashed black;

  button {
    background: transparent;
    color: black;
    border-color: black;

    &[data-active='true'] {
      color: white;
      border: transparent;
      background: black;
    }
  }
}